.square {
    width: 500px;
    height: 500px;
    background: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.circle {
    width: 200px;
    height: 200px;
    background: whitesmoke;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}